{% extends 'navigation.html'%}
{% block body %}
{% load static %}

<div>
<h1 class="text-white container pt-5">About <span style="color:rgb(17, 201, 0)">Us</span></h1>
    <hr style="background-color:white">
</div>
<div class="container">
<HR>
<h3><span style="color:white">Welcome to Share</span><span style="color:rgb(17, 201, 0)">Note</span><span style="color:white">!</span></h3>
<p><span style="color:white"><br>
    This website is was made in the intention to give the students and easier way to to share their notes with each other with ease and without any hassle<br>
    Students can also submit that notes and assignments through this website which will make it even more easier for submission of notes and keeping track of them
    In a more easier and better manner<br>
    <br>
    Students will also receive the notes which are approved by the teachers so whatever notes the students will have will be credible according to the syllabus and teacher approved so why don't you start sharing now.<br>
    <br>
This website is made with python , Django , HTML and CSS</span> </p>
<br>
<br>
</div>
{% endblock %}