{% extends 'navigation.html'%}
{% block body %}
{% load static %}

<div>
<h1 class="text-white container pt-5">About <span style="color:rgb(17, 201, 0)">Us</span></h1>
    <hr style="background-color:white">
</div>
<div class="container">
<HR>
<h3><span style="color:white">Welcome to Share</span><span style="color:rgb(17, 201, 0)">Note</span><span style="color:white">!</span></h3>
<p><h4><span style="color:white"><br>
Having trouble assessing the notes of your students? Cut the hassle, use ShareNote.<br>
<br>
1.Easy verification of notes<br>
2.Credit your students accordingly<br>
3.Keep them organized<br>

<br>   
This website is made with python , Django , HTML and CSS</span></h4> </p>
<br>
<br>
</div>
{% endblock %}