{% extends 'usernavigation.html'%} {% block body %} {% load static %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css"
/>
<script>
  $(document).ready(function () {
    $("#example").DataTable();
  });
</script>
<style>
  .container1 {
    background-image: linear-gradient(#4c5270, #4c5270);
    border-radius: 10px;
  }
  input[type="text"] {
    border: 3px solid #ccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.5;
  }

  input[type="text"]:focus {
    border: 4px solid #36eee0;
    opacity: 1;
  }
  input[type="email"] {
    border: 3px solid #ccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.5;
  }
  input[type="email"]:focus {
    border: 4px solid #36eee0;
    opacity: 1;
  }
  input[type="password"] {
    border: 3px solid #ccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.5;
  }
  input[type="password"]:focus {
    border: 4px solid #36eee0;
    opacity: 1;
  }
  select {
    border: 3px solid #ccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.5;
  }
  input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
  }

  input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #36eee0;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
  }
  select:focus {
    border: 4px solid #36eee0;
    opacity: 1;
  }
  textarea {
    border: 3px solid #ccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.5;
  }
  textarea:focus {
    border: 4px solid #36eee0;
    opacity: 1;
  }
  input[type="file"] {
    border: 3px solid #ccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.5;
  }
  input[type="file"]:focus {
    border: 4px solid #36eee0;
    opacity: 1;
  }

  @keyframes transitionIn {
    from {
      opacity: 0;
      tranform: rotateX(-10deg);
    }
    to {
      opacity: 1;
      tranform: rotateX(0);
    }
  }
</style>
<div style="animation: transitionIn 0.75s">
  <div class="col-12 mt-5">
    <div class="col-2"></div>
    <div class="container1 col-12">
      <h2 class="text-white text-center">All Notes</h2>
      <hr style="background-color: hotpink" />
      <table
        class="table table-dark table-striped table-hover"
        style="
          border-radius: 5px;
          filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.25));
        "
        id="example"
      >
        <thead>
          <tr>
            <th>No.</th>
            <th>Uploaded By</th>
            <th>Upload date</th>
            <th>Branch</th>
            <th>Subject</th>
            <th>File Name</th>
            <th>File Type</th>
            <th>Description</th>
            <th>Status</th>
            <th style="text-align: center">Actions</th>
          </tr>
        </thead>
        {% for i in notes %}
        <tbody>
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user.username}}</td>
            <td>{{i.uploadingdate}}</td>
            <td>{{i.branch}}</td>
            <td>{{i.subject}}</td>
            <td>{{i.notesfile}}</td>
            <td>{{i.filetype}}</td>
            <td>{{i.description}}</td>
            <td>{{i.status}}</td>
            <td>
              <a
                href="{{i.notesfile.url}}"
                class="btn font-weight-bold"
                style="
                  background-color: #14527c;
                  color: #36eee0;
                  border-radius: 5px;
                  width: 100%;
                  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.25));
                "
                >Download</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
