{% extends 'admin_nav.html'%} {% block body %} {% load static %}
<style>
  .container1 {
    background-color: #4c5270;
    color: #bcece0;
    border-radius: 10px;
    opacity: 1;
  }
  .container2 {
    background-color: #356d4c;
    color: #00ff6a;
    border-radius: 10px;
    opacity: 1;
  }
  .container3 {
    background-color: #69124a;
    color: #f652a0;
    border-radius: 10px;
    opacity: 1;
  }
  .container4 {
    background-color: #14527c;
    color: #36eee0;
    border-radius: 10px;
    opacity: 1;
  }

  .container1h:hover {
    background-color: #bcece0;
    color: #4c5270;
    border-radius: 10px;
    opacity: 1;
    transition: 0.6s;
  }
  .container2h:hover {
    background-color: #00ff6a;
    color: #356d4c;
    border-radius: 10px;
    opacity: 1;
    transition: 0.6s;
  }
  .container3h:hover {
    background-color: #f652a0;
    color: #69124a;
    border-radius: 10px;
    opacity: 1;
    transition: 0.6s;
  }
  .container4h:hover {
    background-color: #36eee0;
    color: #14527c;
    border-radius: 10px;
    opacity: 1;
    transition: 0.6s;
  }
  .mydiv:hover {
    transform: translateY(-15px);
    transition: 0.4s;
  }
  h1,
  h2,
  h4 {
    padding: 25px;
  }
  @keyframes transitionIn {
    from {
      opacity: 0;
      tranform: rotateX(-10deg);
    }
    to {
      opacity: 1;
      tranform: rotateX(0);
    }
    
  }
  span[type="123"]:hover{
    color: rgb(7, 221, 0);
  }
</style>
<div style="animation: transitionIn 0.75s">
  <br />
  <h1 class="text-white text-center">
    <span
      style="
        color: #36eee0;
        font-family: 'Consolas';
        font-weight: bold;
        font-size: 70;
      "
      >Welcome </span
    ><span
      style="color: rgb(255, 255, 255); font-family: 'Consolas'; font-size: 50"
      >to </span
    ><span
      style="color: rgb(255, 255, 255); font-family: 'Consolas'; font-size: 70"
      >Share</span
    ><span
      style="
        color: #36eee0;
        font-weight: bold;
        font-family: 'Consolas';
        font-size: 70;
      "
      >Note</span
    >
    <span
      style="color: rgb(255, 255, 255); font-family: 'Consolas'; font-size: 70"
    >
      ,{{request.user.username}}!</span
    >
  </h1>
  <br />
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-3 text-center mydiv">
        <div class="container1 container1h">
          <h2 class="text">{{pn}}</h2>
          <a href="{%url 'pending_notes'%}">
            <h4><span style="color: black">Pending</span><span type="123" style="color: rgb(226, 21, 147)">Notes</span></h4></a>
        </div>
      </div>
      <div class="col-sm-3 text-center mydiv">
        <div class="container2 container2h">
          <h2 class="text">{{an}}</h2>
          <a href="{%url 'accepted_notes'%}"
            ><h4>
              <span style="color: black">Accepted</span
              ><span style="color: #274cb4">Notes</span>
            </h4></a
          >
        </div>
      </div>
      <div class="col-sm-3 text-center mydiv">
        <div class="container3 container3h">
          <h2 class="text">{{rn}}</h2>
          <a href="{%url 'rejected_notes'%}"
            ><h4>
              <span style="color: black">Rejected</span
              ><span style="color: rgb(0, 255, 98)">Notes</span>
            </h4></a
          >
        </div>
      </div>
      <div class="col-sm-3 text-center mydiv">
        <div class="container4 container4h">
          <h2 class="text">{{aln}}</h2>
          <a href="{%url 'all_notes'%}"
            ><h4>
              <span style="color: black">All</span
              ><span style="color: rgb(103, 95, 173)">Notes</span>
            </h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
