{% extends 'usernavigation.html'%}
{% block body %}
{% load static %}
{% ifequal error "no" %}
<script>
   alert('Password Changed Successfully');
   window.location=("{% url 'logout' %}");
</script>
{% endifequal %}
{% ifequal error "yes" %} 
<script>
   alert('Invalid Credentials, Try Again');
</script>
{% endifequal %}
<style>
input[type="password"] {
    border: 3px solid #ccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity:0.5;
    color: white;
  }
  
  input[type=password]:focus {
    border: 4px solid #36EEE0;
    opacity: 1;
  }
</style>
<div class="container ">
    <div class="row">
    <div class="col-sm-4">
        <img src="{% static 'images/lock.png' %}" style="width:127%; height:450px; opacity:0.1;">
    </div>
        <div class="col-sm-4">
        <br>
        <h2 class=" text-white">Change Your Password</h2>
        <hr style="background-color:white">
            <form method="post">
                {% csrf_token %}
                <label class="text-white">Old password</label>
                <input type="password" class="form-control bg-dark text-white" style="border-radius:5x;color:hotpink" placeholder="Enter your Old Password" name="old"><br>
                <label class="text-white" >New Password</label>
                <input type="password" class="form-control bg-dark text-white" style="border-radius:5px;color:hotpink;" placeholder="Enter your New Password" name="new">
                <label class=" text-danger" style="font-size:12; font-style:italic ">Make sure your password must contain 8 letters and must have symbols or numeric values</label>
                <br>
                <label class=" text-white" >Confirm Password</label>
                <input type="password" class="form-control bg-dark text-white" style="border: radius 5px;color:hotpink;" placeholder="Confirm your Password" name="confirm">
                <label class=" text-danger" style="font-size:12; font-style:italic ">Make sure your password is similar to the password above</label>
                <input type="submit" class="btn mt-5" style="border-radius: 5px;
                width: 100%;
                background-color: #356d4c;
                color: #00ff6a;
                filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.25));
                margin-right: 30px;" value="Confirm Your Changes">
              </form>
        </div>
        <div class="col-sm-4">
            <img src="{% static 'images/lock2.png' %}" style="width:150%; height:500px; opacity:0.1;">
        </div>
    </div>
    </div>

    </div>
    </div>
{% endblock %}