{% extends 'navigation.html'%}
{% block body %}
{% load static %}
<style>
    @keyframes transitionIn{
        from{
            opacity:0;
            tranform: rotateX(-10deg);
    
        }
        to{
            opacity:1;
            tranform: rotateX(0);
        }
    }
    
    </style>
    <div style="animation: transitionIn 0.75s;">

<div>
    <h1 class="text-white container pt-5">Contact <span style="color:rgb(17, 201, 0)">Us</span></h1>
    <hr style="background-color:white">

</div>
<div class="container mt-5">
<div class="row">
<div class="col-sm-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3064.4175574639885!2d77.72322758693736!3d12.914033101643254!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9a0e44eb787093e6!2sKrupanidhi%20Degree%20College!5e0!3m2!1sen!2sin!4v1611621868784!5m2!1sen!2sin" width="500" height="450" frameborder="0" style="border:0; border-radius: 20px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<div class="col-sm-6">
<p><span style="color:rgb(7, 201, 23)"><i class="fas fa-envelope"></i> Email Id</span><span style="color:white">: abc123@gmail.com</span></p>
<p><span style="color:rgb(7, 201, 23)"><i class="fas fa-phone-square"></i> Phone no</span><span style="color:white">: 1234567890</span></p>
<p><span style="color:rgb(7, 201, 23)"><i class="fas fa-address-card"></i> Address</span><span style="color:white">: <br>Krupanidhi Degree College
12/1, Chikka Bellandur,<br>Carmelaram Post Varthur Hobli, Off Sarjapur Rd, Bengaluru, Karnataka 560035</span></p>
<p><span style="color:rgb(7, 201, 23)"><i class="fas fa-clock"></i> Timings</span><span style="color:white">: 24x7</span></p>
<p><span style="color:rgb(7, 201, 23)">Find us on:</span></p>
<a href="https://www.facebook.com/KrupanidhiGroupofInstitutions/"><i class="fab fa-facebook-f"></a>
<a href="https://www.google.com/search?safe=active&rlz=1C1CHBF_enIN924IN924&sxsrf=ALeKk012mLCbV1KC-0oCOJzuPz3DXw1P9w:1611297185423&q=krupanidhi+degree+college&sa=X&ved=0ahUKEwjn_fTi9a7uAhXU6XMBHYrjBsAQuzEICg&biw=1536&bih=754&dpr=1.25"><i class="fab fa-google pl-5"></f></a>
</div>
</div>
</div>
<br>
<br>
<br>
    </div>
{% endblock %}