{% extends 'navigation.html'%}
{% block body %}
{% load static %}
<style>
.image
{
    object-fit:cover;
    width:100%;
    height:470px;
    background:url({% static 'images/note3.jpg' %});
}
body{
    background-color:black;
}

@keyframes transitionIn{
    from{
        opacity:0;
        tranform: rotateX(-10deg);

    }
    to{
        opacity:1;
        tranform: rotateX(0);
    }
}
.halfcircleBottom{
    height:75px;
    width:150px;
    border-radius : 0 0 90px 90px;
    margin:0px;
    background-color:#33cec1;
    opacity:0.8;
}
.box1 p{
    font-weight:bold;
    color: rgb(0, 0, 0);
    font-family:'Consolas';
    text-align:center
}
.halfcircleBottom:hover{
    background-color:#36EEE0;
}
</style>
<div style="animation: transitionIn 0.75s;">
<div class="image">
<div class="transparentbox">
<p>Share and <span style="color:#36EEE0"> Study Now</span>!</p>
</div>
</div>

<h4 class="text-center mt-5 mb-5" style="color:#BCECE0">Share your notes by following 4 Easy Steps</h4>
<div class="container mb-5">
<div class="row">
<div class="col-sm-3">
<div class="box1">
    <p class="halfcircle"><i class="text-center fas fa-user-circle text-black mt-4" style="font-size:40px"></i></p>
    <p class="halfcircleBottom" style="font-size:20px">Create Account</i></p>
</div>
</div>
<div class="col-sm-3">
<div class="box1">
    <p class="halfcircle"><i class="text-center fas fa-sign-in-alt text-black mt-4" style="font-size:40px"></i></p>
    <p class="halfcircleBottom" style="font-size:20px ">Log in</i></p>
</div>
</div>
<div class="col-sm-3">
<div class="box1">
    <p class="halfcircle"><i class="text-center fas fa-upload text-black mt-4" style="font-size:40px"></i></p>
    <p class="halfcircleBottom" style="font-size:20px">Upload Notes</i></p>
</div>
</div>
<div class="col-sm-3">
<div class="box1">
    <p class="halfcircle"><i class="text-center fas fa-download text-black mt-4" style="font-size:40px"></i></p>
    <p class="halfcircleBottom" style="font-size:20px">Download notes</i></p>
</div>
</div>
</div>
</div>
{% endblock %}