
{% extends 'navigation.html'%}
{% block body %}
{% load static %}
{% ifequal error "no" %}
<script>
   alert('Logged in successfully');
   window.location=("{% url 'profile' %}");
</script>
{% endifequal %}
{% ifequal error "yes" %} 
<script>
   alert('Invalid Login Credentials, Try Again');
</script>
{% endifequal %}
<style>
  @keyframes transitionIn{
      from{
          opacity:0;
          tranform: rotateX(-10deg);
  
      }
      to{
          opacity:1;
          tranform: rotateX(0);
      }
  }
  </style>
  <div style="animation: transitionIn 0.75s;">
<div class="transparent">
<div class="imag">
    <style>
        input[type="email"] {
          border: 3px solid #F652A0;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          opacity:0.5;
        }
        
        input[type="email"]:focus {
          border: 5px solid #F652A0;
          opacity:1;
        }
          input[type="password"] {
            border: 3px solid #F652A0;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            opacity:0.5;
          }
          
          input[type=password]:focus {
            border: 2px solid ;
            border-color: #F652A0;
            opacity:1;
        }
        ::placeholder {
  color: #F652A0;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #F652A0;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #F652A0;
}
        </style>
<div class="container ">
<div class="row">
<div class="col-sm-4">
</div>
    <div class="col-sm-4">
    <br>
    <h2 class=" text-white">Login</h2>
    <hr style="background-color:#F652A0">
        <form method="post">
            {% csrf_token %}
            <label class=" text-white">E-mail Address</label>
            <input type="email" class="form-control bg-dark border-dark text-white" style="border: 3px solid #33cec1; border-radius:7px;color:black" placeholder="example@email.com" name="emailid"><br>
            <label class=" text-white" >Password</label>
            <input type="password" class="form-control bg-dark border-dark text-white"
            style="border: 3px solid #33cec1;border-radius:7px" placeholder="password" name="pwd">
            <input type="submit" class="btn  text-black mt-5"
            style="border-radius:7px; background-color: #36EEE0; margin-right: 30px; width:40%; font-weight:bold" value="Log in">
            <a href="{%url 'signup'%}" class="btn  text-black mt-5" style="border-radius:7px;  background-color: #F652A0; margin-left: 30px; width:40%; font-weight:bold" >Sign Up</a>
            <a href="{%url 'login_admin'%}" class="btn text-black mt-5" style="border: 2px solid #33cec1;border-radius:7px; width:100%; font-weight:bold" ><span style="color:white">Login as an </span><span style="color:#33cec1 ">Administrator</span></a>
          </form>
    </div>
</div>
</div>
</div>
</div>
  </div>
{% endblock %}