<html lang="en">
<head>
{% load static %}
  <title>Notes Sharing site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/mystyle.css'%}">
  </head>
<style>
  
.nav-link{color:white
}
.nav-link:hover{
  color:#36EEE0;
    transition: 0.3s;
}


</style>
<body>
<nav class="navbar navbar-expand-sm justify-content-end" style ="background-color: rgb(0, 0, 0)">
<ul class="navbar-nav">
  <h3 class="text-left justify-content-start" style="margin-right: 800px ;text-align: justify"><span style="color:white">Share</span><span style="color:#36EEE0">Note</span></h4>
<li class="navbar-item">
  
<a class="nav-link" style="margin-right: 50px;font-weight: bold;" href="{%url 'index'%}">Home</a>
</li>
<li class="navbar-item">
<a class="nav-link" style="margin-right: 50px;font-weight: bold;" href="{%url 'about'%}">About</a>
</li>
<li class="navbar-item">
<a class="nav-link" style="margin-right: 50px;font-weight: bold;" href="{%url 'contact'%}">Contact</a>
</li>
<li class="navbar-item">
<a class="nav-link" style="margin-right: 50px;font-weight: bold;" href="{%url 'login'%}">Login</a>
</li>
<li class="navbar-item">
  <a class="nav-link" style="margin-right: 50px;font-weight: bold;" href="{%url 'signup'%}">SignUp</a>
  </li>

</ul>
</nav>
</body>
</html>
{% block body %}
{% endblock %}