{% extends 'usernavigation.html'%}
{% block body %}
{% load static %}
<style>
    @keyframes transitionIn{
        from{
            opacity:0;
            tranform: rotateX(-10deg);
    
        }
        to{
            opacity:1;
            tranform: rotateX(0);
        }
    }
    
    </style>
    <div style="animation: transitionIn 0.75s;">
<h1 class="text-white text-center pt-5">Welcome to Your Profile</h1>
<hr style="background-color:hotpink">
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3 font-weight-bold" style= "text-align:center; color: #36eee0;">
            <b>Full Name:</b><br> 
            <hr style="background-color:hotpink">
        </div>
        <div class="col-md-3 text-white" style="text-transform: capitalize;">
            {{data.user.first_name}} {{data.user.last_name}}
            <hr style="background-color:hotpink">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3 font-weight-bold" style= "text-align:center; color: #36eee0;">
            <b>E-mail Id:</b><br> 
            <hr style="background-color:hotpink">
        </div>
        <div class="col-md-3 text-white">
            {{data.user.username}}
            <hr style="background-color:hotpink">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3 font-weight-bold" style= "text-align:center; color: #36eee0;">
            <b>Branch:</b><br> 
            <hr style="background-color:hotpink">
        </div>
        <div class="col-md-3 text-white">
            {{data.branch}}
            <hr style="background-color:hotpink">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3 font-weight-bold" style= "text-align:center; color: #36eee0;">
            <b>Role:</b><br> 
            <hr style="background-color:hotpink">
        </div>
        <div class="col-md-3 text-white">
            {{data.role}}
            <hr style="background-color:hotpink">
        </div>
        </div>
        <div class="text-center">
            <br>
        <a href="{%url 'edit_profile'%}" class="btn" style="border-radius: 5px;background-color:#14527c;color:#36eee0;font-weight: bold;">Edit Profile</a>
        </div>
        </div>
    </div>
{% endblock %}