{% extends 'usernavigation.html'%}
{% block body %}
{% load static %}

<style>
    .container1
    {
        background-color: #69124a;
        border-radius: 10px;
    }
    .container2
    {
        background-color:#14527c ;
        border-radius: 10px;
    }
    .container3
    {
        background-color: #126940;
        border-radius: 10px;
    }
   

    .container3:hover {
        background-color:#1cd416 ;
        border-radius: 10px;
        opacity: 1;
        transition: 0.6s;
      }
      .container2:hover {
        background-color:#2c34a7 ;
        border-radius: 10px;
        opacity: 1;
        transition: 0.6s;
      }
      .container1:hover {
        background-color: #f652a0;
        border-radius: 10px;
        opacity: 1;
        transition: 0.6s;
      }


    .mydiv:hover{
        transform:translateY(-15px);
        transition: 0.4s;
    }
    h1,h2,h4{padding:25px}
    
        @keyframes transitionIn{
            from{
                opacity:0;
                tranform: rotateX(-10deg);
        
            }
            to{
                opacity:1;
                tranform: rotateX(0);
            }
        }
        
        </style>
        <div style="animation: transitionIn 0.75s;">
            <h1 class="text-white text-center pt-5"><span style="color:#36EEE0; font-family:'Consolas'; font-weight:bold; font-size:70;">Welcome </span><span style="color:rgb(255, 255, 255); font-family:'Consolas'; font-size:50;">to </span><span style="color:rgb(255, 255, 255); font-family:'Consolas'; font-size:70;">Share</span><span style="color:#36EEE0; font-weight:bold; font-family:'Consolas'; font-size:70;">Note</span> <span style="color:rgb(255, 255, 255); font-family:'Consolas'; font-size:70;">,{{request.user.first_name}}!</span></h1>
            <div class="container col-5 mt-5">
                <div class="col-sm-12">
                  </div>
                  <div class="col-12 text-center mydiv">
            <div class= "container3 col-12">
                <h2 class="text-black fas fa-upload"></h2>
                <a href="{%url 'upload_notes'%}"><h4><span style="color:rgb(0, 0, 0)">Start uploading your notes</span><span style="color:rgb(0, 255, 191)"> here</h4></a>
            </div>
                  </div>
          
            
                
                    <div class="col-12 text-center mydiv">
                        <div class="container2 containe1">
                            <h2 class="text-black fas fa-hdd"></h2>
                            <a href="{%url 'view_mynotes'%}"><h4><span style="color:rgb(0, 0, 0)">View all your notes</span><span style="color:rgb(0, 255, 191)"> here</h4></a>
                        </div>
                        </div>
                        <div class="col-12 text-center mydiv">
                            <div class="container1 containe1">
                                <h2 class="text-black fas fa-download"></h2>
                                <a href="{%url 'accepted_user'%}"><h4><span style="color:rgb(0, 0, 0)">View and Download your friend's</span><span style="color:rgb(0, 255, 191)"> Notes</h4></a>
                            </div>
                            </div>
    </div>

{% endblock %}