{% extends 'usernavigation.html'%}
{% block body %}
{% load static %}
    <style>
        input[type="text"] {

            border: 3px solid #ccc;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            opacity:0.5;
          }

          input[type="text"]:focus {
            border: 4px solid rgb(7, 221, 0);
            opacity:1;
          }
        input[type="email"] {

          border: 3px solid #ccc;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          opacity:0.5;
        }
        input[type="email"]:focus {
          border: 4px solid rgb(7, 221, 0);
          opacity:1;
        }
          input[type="password"] {
            border: 3px solid #ccc;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            opacity:0.5;
          }
          input[type=password]:focus {
            border: 4px solid rgb(7, 221, 0);
            opacity:1;
        }
        select{
            border: 3px solid #ccc;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            opacity:0.5;
          }
          select:focus {
            border: 4px solid rgb(7, 221, 0);
            opacity:1;
        }
        textarea{
          border: 3px solid #ccc;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          opacity:0.5;
        }
        textarea:focus {
          border: 4px solid rgb(7, 221, 0);
          opacity:1;
      }
        input[type="file"] {
          border: 3px solid #ccc;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          opacity:0.5;
        }
        input[type=file]:focus {
          border: 4px solid rgb(7, 221, 0);
          opacity:1;
      }
   
        @keyframes transitionIn{
            from{
                opacity:0;
                tranform: rotateX(-10deg);
        
            }
            to{
                opacity:1;
                tranform: rotateX(0);
            }
        }
        
        </style>
        <div style="animation: transitionIn 0.75s;">
<div class="container mt-2 ">
<div class="row">
<div class="col-3">
</div>
    <div class="col-6">
    <br>
    <h2 class=" text-white text-center">Upload your Notes</h2>
    <HR style="background-color:white">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label class=" text-white">Branch</label>
            <select class="form-control"  style="border: 2px solid green;border-radius:10px" name="branch">
              <option value="" disabled selected>Select your branch</option>
              <option value="BCA">BCA</option>
              <option value="BBA">BBA</option>
              <option value="B.Com">B.Com</option>
              <option value="MBA">MBA</option>
              <option value="M.Com">m.Com</option>
          </select>
          <br>
            <label class=" text-white">Subject</label>
            <input type="text" class="form-control" style="border: 2px solid green; border-radius:10px; color:black" placeholder="Enter your subject" name="subject"><br>
            <label class=" text-white">Upload File</label>
            <input type="file" class="form-control" style="border: 2px solid green; border-radius:10px; color:black" name="notesfile"><br>
            <label class=" text-white" >File Type</label>
            <select class="form-control"  style="border: 2px solid green;border-radius:10px" name="filetype">
              <option value="" disabled selected>Select your file</option>
              <option value="PDF">PDF</option>
              <option value="DOC">DOC/DOCX</option>
              <option value="PPT">PPT</option>
              <option value="XLS">XLS</option>
              <option value="TXT">TXT</option>
              <option value="ZIP">ZIP/RAR</option>
              <option value="JPG">JPG</option>
              <option value="PNG">PNG</option>
          </select>
          <br>
          <label class=" text-white">Description</label>
          <textarea class="form-control" name="description" style="border: 2px solid green; border-radius:10px; color:black">
            </textarea>
            <input type="submit" class="btn btn-success text-white mt-5" style="border: 2px solid rgb(255, 255, 255);border-radius:80px; width:100%" value="Upload your file"> <br>
            </form>
    </div>
</div>
</div>
{% ifequal error "no" %}
<script>
   alert('Notes Uploaded successfully');
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
   alert('Something went wrong, Try Again');
</script>
        </div>
{% endifequal %}
{% endblock %}