{% extends 'usernavigation.html'%}
{% block body %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
    <style>
      .container1
      {
          background-image: linear-gradient(rgb(46, 190, 111),rgb(40, 121, 83));
          border-radius: 10px;
      }
        input[type="text"] {

            border: 3px solid #ccc;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            opacity:0.5;
          }

          input[type="text"]:focus {
            border: 4px solid rgb(7, 221, 0);
            opacity:1;
          }
        input[type="email"] {

          border: 3px solid #ccc;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          opacity:0.5;
        }
        input[type="email"]:focus {
          border: 4px solid rgb(7, 221, 0);
          opacity:1;
        }
          input[type="password"] {
            border: 3px solid #ccc;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            opacity:0.5;
          }
          input[type=password]:focus {
            border: 4px solid rgb(7, 221, 0);
            opacity:1;
        }
        select{
            border: 3px solid #ccc;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            opacity:0.5;
          }
          select:focus {
            border: 4px solid rgb(7, 221, 0);
            opacity:1;
        }
        textarea{
          border: 3px solid #ccc;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          opacity:0.5;
        }
        textarea:focus {
          border: 4px solid rgb(7, 221, 0);
          opacity:1;
      }
        input[type="file"] {
          border: 3px solid #ccc;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          opacity:0.5;
        }
        input[type=file]:focus {
          border: 4px solid rgb(7, 221, 0);
          opacity:1;
      }
   
        @keyframes transitionIn{
            from{
                opacity:0;
                tranform: rotateX(-10deg);
        
            }
            to{
                opacity:1;
                tranform: rotateX(0);
            }
        }
        
        </style>
        <div style="animation: transitionIn 0.75s;">
        <div class="col-12 mt-5">
          <div class="col-2">
          </div>
          <div class= "container1 col-12"> 
      <h2 class=" text-white text-center">My Notes</h2>
    <HR style="background-color:white">
        <table class="table table-bordered" id="example">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>UploadDate</th>
                    <th>Branch</th>
                    <th>Subject</th>
                    <th>File Name</th>
                    <th>File Type</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th style="text-align:center;">Download</th>
                    <th style="text-align:center;">Delete</th>
                    </tr>
            </thead>
                    {% for i in notes %}
                    <tbody>
                    <tr>
                        <td >{{forloop.counter}}</td>
                        <td >{{i.uploadingdate}}</td>
                        <td >{{i.branch}}</td>
                        <td >{{i.subject}}</td>
                        <td >{{i.notesfile}}</td>
                        <td >{{i.filetype}}</td>
                        <td >{{i.description}}</td>
                        <td >{{i.status}}</td>
                        <td><a href="{{i.notesfile.url}}" class="btn btn-primary text-white" style=" border: 2px solid rgb(17, 0, 170);border-radius:80px; width:100%" >Download</a></td>
                        <td><a href="{% url 'delete_mynotes' i.id %}" class="btn btn-danger text-white" style=" border: 2px solid rgb(170, 0, 0);border-radius:80px; width:100%" onclick="return confirm('Are you sure you want to delete?')">Delete</a></td>
                    </tr>
                        {% endfor %}
                        </tbody>
                        </table>
</div>
    </div>   
        </div> 
{% endblock %}